@import '../../styles/variables.scss';

.group__button {
  display: flex;
  flex-direction: row;
  min-height: 40px;
  min-width: 30px;
  width: 100%;
  background-color: $color-gray-primary;
  border-top-right-radius: 20%;
  border-top-left-radius: 20%;
  justify-content: center;

  &:focus {
    outline: none;
  }

  &__text {
    display: flex;
    align-self: center;
    margin: 0;
    font-size: $font-md;
  }

  &__number {
    display: flex;
    align-self: flex-end;
    margin: 15px 0 0 2px;
    font-size: $font-sm;
  }
} 

.group__button--active {
  display: flex;
  flex-direction: row;
  min-height: 40px;
  min-width: 30px;
  width: 100%;
  background-color: $color-gray-primary;
  border-top-right-radius: 20%;
  border-top-left-radius: 20%;
  justify-content: center;
  border-bottom: none;
  box-shadow: 
    inset 0px 11px 8px -10px #aaaaaa;

  &:focus {
    outline: none;
  }
}
