// TODO: use variable

.group__button {
  display: flex;
  flex-direction: row;
  min-height: 40px;
  min-width: 30px;
  width: 100%;
  background-color: #eeeeee;
  border-top-right-radius: 20%;
  border-top-left-radius: 20%;

  &__text {
    display: flex;
    align-self: center;
    margin: 0;
    font-size: 18px
  }

  &__number {
    display: flex;
    align-items: flex-end;
    margin: 0 0 0 2px;
    font-size: 10px
  }
}
