// TODO: use variable

.group__button {
  display: flex;
  flex-direction: row;
  min-height: 40px;
  min-width: 30px;
  width: 100%;
  background-color: #eeeeee;
  border-top-right-radius: 20%;
  border-top-left-radius: 20%;
  justify-content: center;

  &:focus {
    outline: 0;
  }

  &__text {
    display: flex;
    align-self: center;
    margin: 0;
    font-size: 18px
  }

  &__number {
    display: flex;
    align-self: flex-end;
    margin: 15px 0 0 2px;
    font-size: 10px
  }
} 

.group__button--active {
  display: flex;
  flex-direction: row;
  min-height: 40px;
  min-width: 30px;
  width: 100%;
  background-color: #eeeeee;
  border-top-right-radius: 20%;
  border-top-left-radius: 20%;
  justify-content: center;
  border-bottom: none;
  box-shadow: 
    inset 0px 11px 8px -10px #aaaaaa;
}
