@import '../../styles/variables.scss';

.contact {
  flex: 0 45%;
  border-bottom: 1px dotted black;
  padding: 10px;
  margin: 0 auto;
}

@media (max-width: $screen-md-max) {
  .contact {
    padding: 10px;
    width: 100%;
  }
}
