@import '../../styles/variables.scss';

.user__detail__popup {
  position: relative;
  width: 460px;
  opacity: 1;
  display: flex;
  border: 1px solid $color-gray-primary;
  background-color: $color-gray-primary;
  margin: 0 auto;
  margin-top: 20px;
  box-shadow: 
    inset 0px 11px 8px -10px #aaaaaa,
    inset 0px -11px 8px -10px #aaaaaa;

  &__close {
    font-size: $font-sm;
    position: relative;
    top: 5px;
    left: 5px;
    height: 15px;
    width: 15px;
    cursor: pointer;
  }

  &__image {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    margin: 25px 0 0 15px;
  }

  &__info {
    margin: 20px 0 0 15px;
    width: 400px;
    height: 190px;

    &__fullname {
      display: flex;
      margin: 0 0 20px 0;
    }

    &__field {
      display: flex;
      flex-direction: column;
      font-size: $font-sm;

      &__item {
        display: flex;
        width: 100%;

        .key {
          display: flex;
          min-width: 70px;
          font-weight: bold;
          margin: 0;
        }

        .value {
          margin: 0;
        }
      }
    }
  }

  &__username {
    position: absolute;
    top: -10px;
    left: calc(100% - 10px);
    white-space: nowrap;
    font-size: $font-sm;
    background-color: $color-red-secondary;
    color: white;
    width: auto;
    height: 40px;
    transform: rotate(90deg);
    transform-origin: 0 0;
    padding: 10px 10px 10px 10px;
  }
}
