@import '../../styles/variables.scss';

.listing__container {
  display: flex;
  flex-wrap: wrap;
  background-color: $color-gray-primary;
  margin: 0 auto;
  padding: 20px;

  & :last-child {
    border: 1px solid red;
  }
}

@media (max-width: $screen-md-max) {
  .listing__container {
    flex-direction: column;
  }
}
