// TODO: use variables
.listing__container {
  display: flex;
  flex-wrap: wrap;
  background-color: #eeeeee;
  margin: 0 auto;
  padding: 20px;

  // & :last-child {
    // TODO: align last child to left
    // border: 1px solid red;
  // }
}

@media (max-width:760px) {
  .listing__container {
    flex-direction: column;
  }
}
