@import '../../styles/variables.scss';

.listing__container {
  display: flex;
  flex-wrap: wrap;
  background-color: $color-gray-primary;
  margin: 0 auto;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #bbbbbb;
  border-top: none;
}

@media (max-width: $screen-md-max) {
  .listing__container {
    flex-direction: column;
  }
}
